<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zwstudio.logicpuzzlesandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".home.android.LogicPuzzlesApplication_">
        <service android:name=".home.android.MusicService"
                 android:enabled="true"/>
        <activity
            android:name=".home.android.HomeMainActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.android.HomeChooseGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".home.android.HomeOptionsActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abc.android.AbcMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abc.android.AbcGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abc.android.AbcOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.battleships.android.BattleShipsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.battleships.android.BattleShipsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.battleships.android.BattleShipsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bridges.android.BridgesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bridges.android.BridgesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bridges.android.BridgesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.clouds.android.CloudsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.clouds.android.CloudsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.clouds.android.CloudsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.hitori.android.HitoriMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.hitori.android.HitoriGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.hitori.android.HitoriOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightenup.android.LightenUpMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightenup.android.LightenUpGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightenup.android.LightenUpOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.linesweeper.android.LineSweeperMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.linesweeper.android.LineSweeperGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.linesweeper.android.LineSweeperOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.loopy.android.LoopyMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.loopy.android.LoopyGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.loopy.android.LoopyOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.masyu.android.MasyuMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.masyu.android.MasyuGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.masyu.android.MasyuOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.magnets.android.MagnetsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.magnets.android.MagnetsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.magnets.android.MagnetsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mosaik.android.MosaikMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mosaik.android.MosaikGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mosaik.android.MosaikOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.nurikabe.android.NurikabeMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.nurikabe.android.NurikabeGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.nurikabe.android.NurikabeOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parks.android.ParksMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parks.android.ParksGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parks.android.ParksOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rooms.android.RoomsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rooms.android.RoomsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rooms.android.RoomsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.skyscrapers.android.SkyscrapersMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.skyscrapers.android.SkyscrapersGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.skyscrapers.android.SkyscrapersOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.slitherlink.android.SlitherLinkMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.slitherlink.android.SlitherLinkGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.slitherlink.android.SlitherLinkOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sumscrapers.android.SumscrapersMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sumscrapers.android.SumscrapersGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sumscrapers.android.SumscrapersOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tents.android.TentsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tents.android.TentsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tents.android.TentsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>