<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zwstudio.logicpuzzlesandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".home.android.GamesApplication_">
        <service android:name=".home.android.MusicService"
                 android:enabled="true"/>
        <activity
            android:name=".home.android.HomeMainActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.android.HomeOptionsActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.lightup.android.LightUpMainActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.lightup.android.LightUpGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.lightup.android.LightUpOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.bridges.android.BridgesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.bridges.android.BridgesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.bridges.android.BridgesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.slitherlink.android.SlitherLinkMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.slitherlink.android.SlitherLinkGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.slitherlink.android.SlitherLinkOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.clouds.android.CloudsMainActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.clouds.android.CloudsGameActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.clouds.android.CloudsOptionsActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.hitori.android.HitoriMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.hitori.android.HitoriGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.hitori.android.HitoriOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>