<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zwstudio.logicpuzzlesandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".home.android.LogicPuzzlesApplication_">
        <service android:name=".home.android.MusicService"
                 android:enabled="true"/>
        <activity
            android:name=".home.android.HomeMainActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.android.HomeChooseGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".home.android.HomeOptionsActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abc.android.AbcMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abc.android.AbcGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abc.android.AbcHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abc.android.AbcOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abstractpainting.android.AbstractPaintingMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abstractpainting.android.AbstractPaintingGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abstractpainting.android.AbstractPaintingHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.abstractpainting.android.AbstractPaintingOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.balancedtapas.android.BalancedTapasMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.balancedtapas.android.BalancedTapasGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.balancedtapas.android.BalancedTapasHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.balancedtapas.android.BalancedTapasOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.battleships.android.BattleShipsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.battleships.android.BattleShipsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.battleships.android.BattleShipsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.battleships.android.BattleShipsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bootyisland.android.BootyIslandMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bootyisland.android.BootyIslandGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bootyisland.android.BootyIslandHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bootyisland.android.BootyIslandOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitagain.android.BoxItAgainMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitagain.android.BoxItAgainGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitagain.android.BoxItAgainHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitagain.android.BoxItAgainOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitaround.android.BoxItAroundMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitaround.android.BoxItAroundGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitaround.android.BoxItAroundHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitaround.android.BoxItAroundOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitup.android.BoxItUpMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitup.android.BoxItUpGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitup.android.BoxItUpHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.boxitup.android.BoxItUpOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bridges.android.BridgesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bridges.android.BridgesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bridges.android.BridgesHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bridges.android.BridgesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.busyseas.android.BusySeasMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.busyseas.android.BusySeasGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.busyseas.android.BusySeasHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.busyseas.android.BusySeasOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bwtapa.android.BWTapaMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bwtapa.android.BWTapaGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bwtapa.android.BWTapaHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.bwtapa.android.BWTapaOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.clouds.android.CloudsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.clouds.android.CloudsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.clouds.android.CloudsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.clouds.android.CloudsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.digitalbattleships.android.DigitalBattleShipsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.digitalbattleships.android.DigitalBattleShipsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.digitalbattleships.android.DigitalBattleShipsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.digitalbattleships.android.DigitalBattleShipsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.domino.android.DominoMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.domino.android.DominoGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.domino.android.DominoHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.domino.android.DominoOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fenceitup.android.FenceItUpMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fenceitup.android.FenceItUpGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fenceitup.android.FenceItUpHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fenceitup.android.FenceItUpOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencelits.android.FenceLitsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencelits.android.FenceLitsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencelits.android.FenceLitsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencelits.android.FenceLitsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencesentinels.android.FenceSentinelsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencesentinels.android.FenceSentinelsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencesentinels.android.FenceSentinelsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fencesentinels.android.FenceSentinelsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fillomino.android.FillominoMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fillomino.android.FillominoGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fillomino.android.FillominoHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fillomino.android.FillominoOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fourmenot.android.FourMeNotMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fourmenot.android.FourMeNotGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fourmenot.android.FourMeNotHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.fourmenot.android.FourMeNotOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.galaxies.android.GalaxiesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.galaxies.android.GalaxiesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.galaxies.android.GalaxiesHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.galaxies.android.GalaxiesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.gardener.android.GardenerMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.gardener.android.GardenerGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.gardener.android.GardenerHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.gardener.android.GardenerOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.hitori.android.HitoriMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.hitori.android.HitoriGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.hitori.android.HitoriHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.hitori.android.HitoriOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.holidayisland.android.HolidayIslandMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.holidayisland.android.HolidayIslandGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.holidayisland.android.HolidayIslandHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.holidayisland.android.HolidayIslandOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakurasu.android.KakurasuMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakurasu.android.KakurasuGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakurasu.android.KakurasuHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakurasu.android.KakurasuOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakuro.android.KakuroMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakuro.android.KakuroGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakuro.android.KakuroHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kakuro.android.KakuroOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kropki.android.KropkiMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kropki.android.KropkiGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kropki.android.KropkiHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.kropki.android.KropkiOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightbattleships.android.LightBattleShipsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightbattleships.android.LightBattleShipsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightbattleships.android.LightBattleShipsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightbattleships.android.LightBattleShipsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightenup.android.LightenUpMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightenup.android.LightenUpGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightenup.android.LightenUpHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lightenup.android.LightenUpOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lighthouses.android.LighthousesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lighthouses.android.LighthousesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lighthouses.android.LighthousesHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lighthouses.android.LighthousesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.linesweeper.android.LineSweeperMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.linesweeper.android.LineSweeperGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.linesweeper.android.LineSweeperHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.linesweeper.android.LineSweeperOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lits.android.LitsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lits.android.LitsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lits.android.LitsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.lits.android.LitsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.loopy.android.LoopyMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.loopy.android.LoopyGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.loopy.android.LoopyHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.loopy.android.LoopyOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.masyu.android.MasyuMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.masyu.android.MasyuGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.masyu.android.MasyuHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.masyu.android.MasyuOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.magnets.android.MagnetsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.magnets.android.MagnetsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.magnets.android.MagnetsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.magnets.android.MagnetsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mathrax.android.MathraxMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mathrax.android.MathraxGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mathrax.android.MathraxHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mathrax.android.MathraxOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mineships.android.MineShipsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mineships.android.MineShipsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mineships.android.MineShipsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mineships.android.MineShipsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minesweeper.android.MinesweeperMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minesweeper.android.MinesweeperGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minesweeper.android.MinesweeperHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minesweeper.android.MinesweeperOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minilits.android.MiniLitsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minilits.android.MiniLitsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minilits.android.MiniLitsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.minilits.android.MiniLitsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mosaik.android.MosaikMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mosaik.android.MosaikGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mosaik.android.MosaikHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.mosaik.android.MosaikOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.neighbours.android.NeighboursMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.neighbours.android.NeighboursGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.neighbours.android.NeighboursHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.neighbours.android.NeighboursOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.noughtsandcrosses.android.NoughtsAndCrossesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.noughtsandcrosses.android.NoughtsAndCrossesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.noughtsandcrosses.android.NoughtsAndCrossesHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.noughtsandcrosses.android.NoughtsAndCrossesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberlink.android.NumberLinkMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberlink.android.NumberLinkGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberlink.android.NumberLinkHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberlink.android.NumberLinkOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberpath.android.NumberPathMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberpath.android.NumberPathGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberpath.android.NumberPathHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.numberpath.android.NumberPathOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.nurikabe.android.NurikabeMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.nurikabe.android.NurikabeGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.nurikabe.android.NurikabeHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.nurikabe.android.NurikabeOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.orchards.android.OrchardsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.orchards.android.OrchardsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.orchards.android.OrchardsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.orchards.android.OrchardsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.overunder.android.OverUnderMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.overunder.android.OverUnderGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.overunder.android.OverUnderHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.overunder.android.OverUnderOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pairakabe.android.PairakabeMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pairakabe.android.PairakabeGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pairakabe.android.PairakabeHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pairakabe.android.PairakabeOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.paintthenurikabe.android.PaintTheNurikabeMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.paintthenurikabe.android.PaintTheNurikabeGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.paintthenurikabe.android.PaintTheNurikabeHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.paintthenurikabe.android.PaintTheNurikabeOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parklakes.android.ParkLakesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parklakes.android.ParkLakesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parklakes.android.ParkLakesHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parklakes.android.ParkLakesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parks.android.ParksMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parks.android.ParksGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parks.android.ParksHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.parks.android.ParksOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pata.android.PataMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pata.android.PataGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pata.android.PataHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.pata.android.PataOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.powergrid.android.PowerGridMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.powergrid.android.PowerGridGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.powergrid.android.PowerGridHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.powergrid.android.PowerGridOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.productsentinels.android.ProductSentinelsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.productsentinels.android.ProductSentinelsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.productsentinels.android.ProductSentinelsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.productsentinels.android.ProductSentinelsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rippleeffect.android.RippleEffectMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rippleeffect.android.RippleEffectGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rippleeffect.android.RippleEffectHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rippleeffect.android.RippleEffectOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotcrosswords.android.RobotCrosswordsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotcrosswords.android.RobotCrosswordsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotcrosswords.android.RobotCrosswordsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotcrosswords.android.RobotCrosswordsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotfences.android.RobotFencesMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotfences.android.RobotFencesGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotfences.android.RobotFencesHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.robotfences.android.RobotFencesOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rooms.android.RoomsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rooms.android.RoomsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rooms.android.RoomsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.rooms.android.RoomsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sentinels.android.SentinelsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sentinels.android.SentinelsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sentinels.android.SentinelsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sentinels.android.SentinelsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.skyscrapers.android.SkyscrapersMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.skyscrapers.android.SkyscrapersGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.skyscrapers.android.SkyscrapersHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.skyscrapers.android.SkyscrapersOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.slitherlink.android.SlitherLinkMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.slitherlink.android.SlitherLinkGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.slitherlink.android.SlitherLinkHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.slitherlink.android.SlitherLinkOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snail.android.SnailMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snail.android.SnailGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snail.android.SnailHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snail.android.SnailOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snake.android.SnakeMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snake.android.SnakeGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snake.android.SnakeHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.snake.android.SnakeOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.square100.android.Square100MainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.square100.android.Square100GameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.square100.android.Square100HelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.square100.android.Square100OptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sumscrapers.android.SumscrapersMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sumscrapers.android.SumscrapersGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sumscrapers.android.SumscrapersHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.sumscrapers.android.SumscrapersOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapa.android.TapaMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapa.android.TapaGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapa.android.TapaHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapa.android.TapaOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapaislands.android.TapaIslandsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapaislands.android.TapaIslandsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapaislands.android.TapaIslandsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapaislands.android.TapaIslandsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapalike.android.TapAlikeMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapalike.android.TapAlikeGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapalike.android.TapAlikeHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapalike.android.TapAlikeOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.taparow.android.TapARowMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.taparow.android.TapARowGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.taparow.android.TapARowHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.taparow.android.TapARowOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapdifferently.android.TapDifferentlyMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapdifferently.android.TapDifferentlyGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapdifferently.android.TapDifferentlyHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tapdifferently.android.TapDifferentlyOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatami.android.TatamiMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatami.android.TatamiGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatami.android.TatamiHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatami.android.TatamiOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatamino.android.TataminoMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatamino.android.TataminoGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatamino.android.TataminoHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tatamino.android.TataminoOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tennergrid.android.TennerGridMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tennergrid.android.TennerGridGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tennergrid.android.TennerGridHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tennergrid.android.TennerGridOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tents.android.TentsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tents.android.TentsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tents.android.TentsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tents.android.TentsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.theoddbrick.android.TheOddBrickMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.theoddbrick.android.TheOddBrickGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.theoddbrick.android.TheOddBrickHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.theoddbrick.android.TheOddBrickOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tierradelfuego.android.TierraDelFuegoMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tierradelfuego.android.TierraDelFuegoGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tierradelfuego.android.TierraDelFuegoHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.tierradelfuego.android.TierraDelFuegoOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.walls.android.WallsMainActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.walls.android.WallsGameActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.walls.android.WallsHelpActivity_"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".puzzles.walls.android.WallsOptionsActivity_"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>